html,
body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    text-shadow: 1px 1px 1px rgb(13, 16, 43);
    background-color: rgb(40, 47, 118);
    display: flex;
    justify-content: left;
}

.main {
    padding: 60px 20px;
    color: silver;
    text-align: justify;
    font-family: "Roboto", sans-serif;
    overflow: auto;
    height: fit-content;

}

h2 {
    margin-top: 50px;
}

td {
    padding: 20px 80px 10px 0px;
    font-size: larger;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}

tr:nth-child(even) { 
    background-color: #122857; 
}