html,
body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    text-shadow: 1px 1px 1px rgb(13, 16, 43);
    background-color: rgb(40, 47, 118);
    display: flex;
    justify-content: center;
}

.main {
    padding: 100px 20px;
    color: silver;
    text-align: justify;
    font-family: "Roboto", sans-serif;
    overflow: auto;
    height: fit-content;

}

.success-message {
    color: green;
    border: ridge darkgreen;
    border-radius: 2%;
    background-color: lightgreen;
    padding: 10px;
    padding-left: 17px;
    margin-bottom: -12px;
    background-color: #dff0d8;
    height: 40px;
    align-content: center;
}

.lista_utenti li a {
    color: silver;
}

input,
select {

    border: ridge black;
    border-radius: 2%;
    background-color: lightsteelblue;
}

input {
    height: 30px;
    width: 250px;
    position: relative;
    margin-left: 2px;
    margin-bottom: 10px;
}

.no_asterisk {
    margin-left: 31px;
}

select {
    height: 34px;
    margin-left: 6px;
    width: 258px;
    position: relative;
    margin-bottom: 10px;
}

.register_form {
    background-color: gainsboro;
    padding: 30px 45px 0px 35px;
    padding-top: 40px;
    padding-right: 45px;
    border-radius: 2%;
    width: 310px;
    margin-top: 20px;
}

.login_form {
    background-color: gainsboro;
    padding: 30px 45px 0px 35px;
    padding-top: 40px;
    padding-right: 45px;
    border-radius: 2%;
    width: 310px;
    margin-top: 20px;
}

.login_form {
    height: 218px;
}

.register_form {
    height: 750px;
}

.campo_email,
.campo_password {
    margin-left: 32px;
}

.register_button,
.reset_button,
.login_button {
    border: ridge black;
    background-color: lightgreen;
    position: relative;
    margin-top: 10px;
    margin-bottom: -7px;
    border-radius: 30%;
    height: 50px;
    width: 110px;
    cursor: pointer;
}

.register_button {
    background-color: #7ae6ff;
    margin-left: 32px;
}

.reset_button {
    background-color: #cbf5ff;
    margin-left: 34px;
}

.login_button {
    background-color: #7ae6ff;
    margin-left: 105px;
}

.campi_obbligatori {
    font-size: medium;
    position: absolute;
    margin-left: 6px;
}