html,
body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    text-shadow: 1px 1px 1px rgb(13, 16, 43);
    background-color: rgb(40, 47, 118);
    display: flex;
    justify-content: left;
}

.main {
    padding: 60px 20px;
    color: silver;
    text-align: justify;
    font-family: "Roboto", sans-serif;
    overflow: auto;
    height: fit-content;
}

ul {
    margin-left: -23px;
    margin-top: 30px;
    list-style-type: square;
}

li {
    padding-bottom: 15px;
    font-size: larger;
    color: lightslategray;
}

.info {
    font-weight: bolder;
    color: lightblue;
}

input,
select {
    border: ridge black;
    border-radius: 2%;
    background-color: lightsteelblue;
    display: flex;
    align-items: center;
    margin-left: 105px;
    margin-top: -30px;
    flex: 1;
}

input {
    height: 30px;
    width: 250px;
    position: relative;
    margin-bottom: 10px;
}

select {
    height: 34px;
    width: 258px;
    position: relative;
    margin-bottom: 10px;
}

button {
    border: ridge black;
    background-color: #7ae6ff;
    position: relative;
    border-radius: 30%;
    height: 50px;
    width: 110px;
    cursor: pointer;
    margin-top: -10px;
}

.success-message,
.fail-message {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2%;
    padding: 10px;
    padding-left: 15px;
    margin-bottom: -12px;
    height: 40px;
    align-content: center;
}

.success-message {
    color: green;
    border: ridge darkgreen;
    background-color: lightgreen;
    width: 250px;
}

.fail-message {
    color: red;
    border: ridge darkred;
    background-color: black;
    width: 400px;
}